<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smk.common.dao.CommonSystemParamMapper">
  <resultMap id="BaseResultMap" type="com.smk.common.model.CommonSystemParam">
    
    <!-- 参数代码 -->
    <id column="PARAM_CODE" jdbcType="VARCHAR" property="paramCode" />
    
    <!-- 参数类型 -->
    <result column="PARAM_TYPE" jdbcType="VARCHAR" property="paramType" />
    
    <!-- 参数名称 -->
    <result column="PARAM_NAME" jdbcType="VARCHAR" property="paramName" />
    
    <!-- 参数值 -->
    <result column="PARAM_VALUE" jdbcType="VARCHAR" property="paramValue" />
    
    <!-- 参数序号 -->
    <result column="PARAM_SEQ" jdbcType="VARCHAR" property="paramSeq" />
    
    <!-- 参数描述 -->
    <result column="PARAM_DESC" jdbcType="VARCHAR" property="paramDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    PARAM_CODE, PARAM_TYPE, PARAM_NAME, PARAM_VALUE, PARAM_SEQ, PARAM_DESC
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from COMMON_SYSTEM_PARAM
    where PARAM_CODE = #{paramCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from COMMON_SYSTEM_PARAM
    where PARAM_CODE = #{paramCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert">
    insert into COMMON_SYSTEM_PARAM (PARAM_CODE, PARAM_TYPE, PARAM_NAME, 
      PARAM_VALUE, PARAM_SEQ, PARAM_DESC
      )
    values (#{paramCode,jdbcType=VARCHAR}, #{paramType,jdbcType=VARCHAR}, #{paramName,jdbcType=VARCHAR}, 
      #{paramValue,jdbcType=VARCHAR}, #{paramSeq,jdbcType=VARCHAR}, #{paramDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective">
    insert into COMMON_SYSTEM_PARAM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paramCode != null">
        PARAM_CODE,
      </if>
      <if test="paramType != null">
        PARAM_TYPE,
      </if>
      <if test="paramName != null">
        PARAM_NAME,
      </if>
      <if test="paramValue != null">
        PARAM_VALUE,
      </if>
      <if test="paramSeq != null">
        PARAM_SEQ,
      </if>
      <if test="paramDesc != null">
        PARAM_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paramCode != null">
        #{paramCode,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null">
        #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null">
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null">
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramSeq != null">
        #{paramSeq,jdbcType=VARCHAR},
      </if>
      <if test="paramDesc != null">
        #{paramDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective">
    update COMMON_SYSTEM_PARAM
    <set>
      <if test="paramType != null">
        PARAM_TYPE = #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null">
        PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null">
        PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramSeq != null">
        PARAM_SEQ = #{paramSeq,jdbcType=VARCHAR},
      </if>
      <if test="paramDesc != null">
        PARAM_DESC = #{paramDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where PARAM_CODE = #{paramCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey">
    update COMMON_SYSTEM_PARAM
    set PARAM_TYPE = #{paramType,jdbcType=VARCHAR},
      PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      PARAM_SEQ = #{paramSeq,jdbcType=VARCHAR},
      PARAM_DESC = #{paramDesc,jdbcType=VARCHAR}
    where PARAM_CODE = #{paramCode,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into COMMON_SYSTEM_PARAM (
    PARAM_CODE,
    PARAM_TYPE,
    PARAM_NAME,
    PARAM_VALUE,
    PARAM_SEQ,
    PARAM_DESC
    )
    (
    <foreach collection="recordList" index="index" item="item" separator="union all">
      (
      select
      #{item.paramCode,jdbcType=VARCHAR},
      #{item.paramType,jdbcType=VARCHAR},
      #{item.paramName,jdbcType=VARCHAR},
      #{item.paramValue,jdbcType=VARCHAR},
      #{item.paramSeq,jdbcType=VARCHAR},
      #{item.paramDesc,jdbcType=VARCHAR}
      from dual
      )
    </foreach>
    )
  </insert>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2020-03-20 11:13:57 ### -->



  <!-- Your codes goes here!!! -->
  
</mapper>